<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prazk.myshortlink.project.biz.mapper.LinkMapper">

    <update id="recordAccessLogs">
        UPDATE t_link
        SET total_uv = CASE WHEN total_uv = 0 THEN 1 ELSE total_uv + #{uvIncrement} END,
            total_uip = CASE WHEN total_uip = 0 THEN 1 ELSE total_uip + #{uvIncrement} END,
            total_pv = total_pv + 1
        WHERE gid = #{gid} AND short_uri = #{shortUri}
    </update>

    <!-- 分页查询短链接 -->
    <select id="pageLink" resultType="com.prazk.myshortlink.project.biz.pojo.vo.LinkPageVO">
        SELECT t.id,
               t.domain,
               t.short_uri,
               t.full_short_uri,
               t.origin_uri,
               t.total_pv,
               t.total_uv,
               t.total_uip,
               t.gid,
               t.enable_status,
               t.created_type,
               t.valid_date_type,
               t.valid_date,
               t.description,
               t.create_time,
               t.update_time,
               t.del_flag,
               COALESCE(s.today_pv, 0)  AS today_pv,
               COALESCE(s.today_uv, 0)  AS today_uv,
               COALESCE(s.today_uip, 0) AS today_uip
        FROM t_link t
                 LEFT JOIN t_link_stats_today s ON t.short_uri = s.short_uri
            AND s.access_date = #{today}
        WHERE t.gid = #{gid}
          AND t.enable_status = 1
          AND t.del_flag = 0
        ORDER BY ${orderTag} DESC
    </select>

</mapper>