<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prazk.myshortlink.project.mapper.LinkMapper">

    <update id="recordAccessLogs">
        UPDATE t_link
        SET uv = CASE WHEN uv = 0 THEN 1 ELSE uv + #{uvIncrement} END,
            ip = CASE WHEN ip = 0 THEN 1 ELSE ip + #{uvIncrement} END,
            pv = pv + 1
        WHERE gid = #{gid} AND short_uri = #{shortUri}
    </update>
</mapper>